@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --primary: #2563EB;
  --secondary: #9333EA;
  --background: #F9FAFB;
}

body {
  font-family: var(--font-sans);
  background-color: var(--background);
}
